$color-primary: hsl(210, 10%, 33%);
$color-primary-light: hsl(201, 11%, 66%);
$color-secondary: hsl(171, 66%, 44%);
$color-tertiary: hsl(233, 100%, 69%);
$color-white: hsl(0, 0%, 100%);
$color-bg-footer: hsl(195, 40%, 96%);
$font: 'Bai Jamjuree', Helvetica, Arial, sans-serif;
$font-size: 18px;
$weight-normal: 400;
$weight-bold: 600;
$radius: 50px;
$width-mobile: 375px;
$width-desktop: 1440px;